html,body{
    height: 100%,
    margin:0;
}

body{
    background: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas{
    border: 6px solid rgb(18, 218, 124)
}